---
import type { UiNode, UiNodeInputAttributes } from "@ory/client";

interface Props {
  node: UiNode & { attributes: UiNodeInputAttributes }
}
const { node } = Astro.props;

---
<label>{ node.meta.label?.text }</label>
<input
  type={node.attributes.type}
  name={node.attributes.name}
  disabled={node.attributes.disabled}
  value={node.attributes.value}
  pattern={node.attributes.pattern}
  autocomplete={node.attributes.autocomplete}
  required={node.attributes.required}
/>